<template name="login">
  <div class="container">

         <div class="center"><button data-toggle="modal"  id="poplogin" class="btn btn-primary center-block"   >Safir popup</button></div>

      <div class="modal" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="padding:80px">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" id="lineModalLabel">Login & Register</h3>
              </div>
              
       <div class="modal-body">
                     
          <div class="register">
             <div class="col-md-6 login-right">
			 
              {{#if loginError}}
					<div class="alert alert-danger" role="alert">
					  <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span style="display:inline-block" class="sr-only">Error:</span>
					{{loginErrormsg}}
					</div>
			  {{/if}}
            <form>
              <div>
              <span>Username<label></label></span>
              <input type="text" name="email" > 
              </div>
              <div>
              <span>Password<label></label></span>
              <input type="password" name="password" > 
              </div>
              <input type="submit" value="Login">
              </form>
             </div>
           

             <div class="col-md-6 login-right">
              
            <form>
               {{#if registerError}}
					<div class="alert alert-danger" style="padding:15px;" role="alert">
					  <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span style="display:inline-block" class="sr-only">Error:</span>
					{{registerErrormsg}}
					</div>
			  {{/if}}
              <div>
              <span>First name<label></label></span>
              <input type="text" id="txtfirstname"> 
              </div>
              <div>
              <span>Last name<label></label></span>
              <input type="text" id="txtlastname"> 
              </div>
               <div>
              <span>Email<label></label></span>
              <input type="text" id="txtemail"> 
              </div>
              <div>
              <span>Password<label></label></span>
              <input type="password" id="txtpassword"> 
              </div>
              <input type="submit" value="Register" id="btnReg">
              </form>
             </div> 
             <div class="clearfix"> </div>
        </div>


                  </div>
              </div>
            </div>
          </div>

      
        
            <div class="col-md-12">
              <div class="font">
                  <p> CONTACT </p>
                        </div>

              <div class="control-group error-style"></div>
              <div class="contant">
                  


                      <ul class="list">
                    <li>Phone:</li>
                    <li>Fax:</li>
                    <li>Email:</li>
                  </ul>

                         </div> 
                        <div class="mail">
                          <p class="text-right">SEND A MAIL</p>
                        </div>

              <div class="control-group error-style"></div>

             </div>


        
  <div class="col-md-4">
    <div class="contact">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">NOM</label>
                <input type="email" class="form-control" id="user-email1" placeholder="">
              </div>
              
              <div class="form-group">
                <label for="exampleInputPassword1">OBJECT</label>
                <input type="password" class="form-control" id="user-email2" placeholder="">
              </div>

               <div class="form-group">
                <label for="exampleInputPassword1">MAIL</label>
                <input type="password" class="form-control" id="user-email2" placeholder="">
              </div>  

        <div class="form-group">
        <label for="exampleInputPassword1">MESSAGE</label>
        <textarea id="inputMessage" class="form-control" rows="4" placeholder="" name="inputMessage"></textarea>
        </div> 
            </form>
        </div>
    </div>
        

      
    
 
 </div>

</template>
<template name="registerSuccess">
 <div class="container">
	 <div class="modal" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="padding:80px">
        <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" id="lineModalLabel">Thanks for joined us!</h3>
				</div>
              
				<div class="modal-body">
                     You have successfully registered. <a  id="goto-login">Login</a> to order any products. 
                </div>
            </div>
        </div>
    </div>
  </div>
</template> 