/*--login--*/
.login-left h3, .login-right h3 {
	color:#df1f26;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color:#999;
	display: block;
	font-size:0.85em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.acount-btn {
	background:#1bccf7;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #555;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"],.login-right input[type="password"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:1em;
	padding:10px;
	-webkit-appearance: none;
}
.login-right input[type="submit"] {
	background:#000;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-right input[type="submit"]:hover{
	background:#000;
}
a.forgot {
	font-size:0.8125em;
}
h4.title {
	color: #000;
	margin-bottom: 0.5em;
	
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
}
p.cart {
	color: #999;
	line-height: 1.8em;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#df1f26;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
	font-weight:600;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
	font-size:0.8125em;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
	-webkit-appearance: none;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#df1f26;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#000;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*===============End register===================*/