<template name="home">
<section class="main_refine_menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="refine_menu">
						<ul class="nav nav-pills">
							<li><a href="#">Feedback</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">0</a></li>
							<li><a href="#"><i class="fa fa-heart fa-1x"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section><!--end section refine menu-->
	<section id="slider">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- slide swiper -->
					<div class="swiper-container swiper-container-horizontal">
						<div style="transition-duration: 0ms; " class="swiper-wrapper">
						<div  class="swiper-slide swiper-slide-prev"><img  class="img-responsive center-block" src="/images/slide1.png"/></div>
						<div class="swiper-slide swiper-slide-active"><img  class="img-responsive center-block" src="/images/slide1.png"/></div>
						<div class="swiper-slide swiper-slide-next"><img  class="img-responsive center-block" src="/images/slide1.png"/></div>
						<div class="swiper-slide"><img  class="img-responsive center-block" src="/images/slide1.png"/></div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
					<!-- /slide swiper -->
				</div>
				<script>
					/* slide swiper */
					var swiper = new Swiper('.swiper-container', {
						pagination: '.swiper-pagination',
						nextButton: '.swiper-button-next',
						prevButton: '.swiper-button-prev',
						paginationClickable: false,
						spaceBetween: 30,
						centeredSlides: true,
						autoplay: 5000,
						autoplayDisableOnInteraction: false
					});
				</script>
			</div>
		</div>
	</section><!--end section slider-->
	<div class="hbg">	
		<section id="trendy_product">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">TRENDY PRODUCT</h1>
								
						<div class="made scrollbox" id="horizontal">
							<div class="madegame">
								<ul class="clearfix" id="ho">
									<li>
										<img style="border:8px solid #000" src="/images/trendy_1.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_2.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_3.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_4.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_1.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_2.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_3.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_4.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end trendy product -->
		<section id="best_selling_product">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">BEST SELLER PRODUCTS</h1>
								
						<div class="made scrollbox" id="horizontal">
							<div class="madegame">
								<ul class="clearfix" id="ho1">
									<li>
										<img style="border:8px solid #000" src="/images/trendy_1.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_2.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_3.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_4.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_1.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_2.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_3.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_4.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end BEST SELLER PRODUCTS -->
		<section id="season_product">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">SEASON PRODUCTS</h1>
									
						<div class="made scrollbox" id="horizontal">
							<div class="madegame">
								<ul class="clearfix" id="ho2">
									<li>
										<img style="border:8px solid #000" src="/images/trendy_1.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_2.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_3.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_4.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_1.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_2.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_3.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
									<li>
										<img style="border:8px solid #000" src="/images/trendy_4.jpg" class="img-circle center-block" height="160" width="160">			  						  
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end SEASON PRODUCTS -->
	</div>
</template>