<template name="refine">
	<section class="main_refine_menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="refine_menu">
						<ul class="nav nav-pills">
							<li><a href="#">Makeup <span><img src="/images/system/caret_gray.png"></span></a></li>
							<li><a href="#">All Makeup <span><img src="/images/system/caret_gray.png"></span></a></li>
							<li><a href="#">MASCARA</a></li>
							<li><a href="#" id="refine_price_range" class="border_left">Refine <span><img src="/images/system/caret_gray.png"></span></a></li>
							<li><a href="#" class="border-dashed">Message <span class="fa fa-times"></span></a></li>
							<li><a href="#" class="border-dashed">Message <span class="fa fa-times"></span></a></li>
						</ul>
						
						<div id="panel_price"><!--refine price range-->
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-3">
										<div class="price_range_menu">
											<ul class="nav nav-pills nav-stacked">
												<li id="refinePrix"><a href="" >Price Range</a></li>
												<li id="refineRating"><a href="" >Rating</a></li>
												<li id="refineBrand" class="active"><a href="">Brands</a></li>
												<li id="refineAdvanced"><a href="">Advanced</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-9">
										<div id="brands"><!--brands-->
											<ul class="list-inline">
												<li class="active"><a href="">A</a></li>
												<li><a href="">B</a></li>
												<li><a href="">C</a></li>
												<li><a href="">D</a></li>
												<li><a href="">F</a></li>
												<li><a href="">G</a></li>
												<li><a href="">H</a></li>
												<li><a href="">I</a></li>
												<li><a href="">J</a></li>
												<li><a href="">K</a></li>
												<li><a href="">L</a></li>
												<li><a href="">M</a></li>
												<li><a href="">N</a></li>
												<li><a href="">O</a></li>
												<li><a href="">P</a></li>
												<li><a href="">Q</a></li>
												<li><a href="">R</a></li>
												<li><a href="">S</a></li>
												<li><a href="">T</a></li>
												<li><a href="">U</a></li>
												<li><a href="">V</a></li>
												<li><a href="">W</a></li>
												<li><a href="">x</a></li>
												<li><a href="">Y</a></li>
												<li><a href="">Z</a></li>
											</ul>
											<div class="col-md-10 col-md-offset-2">
												<div class="hold_item_brands">
													<ul class="nav nav-pills">
														<li><a href="">Brands</a></li>
														<li><a href="">Brands</a></li>
														<li class="active"><a href="">Brands</a></li>
														<li><a href="">Brands</a></li>
														<li><a href="">Brands</a></li>
														<li><a href="">Brands</a></li>
														<li><a href="">Brands</a></li>
														<li><a href="">Brands</a></li>
													</ul>
												</div>
											</div>
										</div><!--/price-brands-->
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--end section refine menu-->
</template>